{% extends 'logo_base.html.twig' %}

{% block title %}Hello ArtController!{% endblock %}

{% block content_text %}

<div class="sztuka col sm-12 col-md-12">

    <div class="col-xs-12 col-md-12">


        <center>
            <a href="https://sta.sh/015jkxdgaxyy" target="_blank"> <img src="{{ asset('images/rys1.png') }}" class="rysunek rys img-fluid" alt="Dahyun - TWICE"></a>
            <a href="https://sta.sh/02g9tkv64mrt" target="_blank"> <img src="{{ asset('images/rys2.png') }}" class="rysunek img-fluid" alt="Humira & Damaezi"></a>
            <a href="https://sta.sh/013pnvpgklo0" target="_blank"> <img src="{{ asset('images/rys3.png') }}" class="rysunek img-fluid" alt="Lekarka - łyżwiarka"></a>
            <a href="https://sta.sh/024kb6o2bx1p" target="_blank"> <img src="{{ asset('images/rys4.png') }}" class="rysunek img-fluid" alt="Śnieżna królowa"></a>
            <a href="https://sta.sh/0zf5sh1m5rn" target="_blank"> <img src="{{ asset('images/rys5.png') }}" class="rysunek img-fluid" alt="Zielarstwo"></a>
            <a href="https://sta.sh/01h98jilvtvh" target="_blank"> <img src="{{ asset('images/rys6.png') }}" class="rysunek img-fluid" alt="Kyntia"></a>

            <a href="https://sta.sh/08yenv42j3o" target="_blank"> <img src="{{ asset('images/mal1.png') }}" class="rysunek img-fluid" alt="Inez"></a>
            <a href="https://sta.sh/0a3bl8uiapm" target="_blank"> <img src="{{ asset('images/mal2.png') }}" class="rysunek img-fluid" alt="I'm blue"></a>
            <a href="https://sta.sh/01rh6m3q9ouq" target="_blank"> <img src="{{ asset('images/mal3.png') }}" class="rysunek img-fluid" alt="Referencja Humiry"></a>
            <a href="https://sta.sh/02a80msqvaox" target="_blank"> <img src="{{ asset('images/mal4.png') }}" class="rysunek img-fluid" alt="Balony"></a>
            <a href="https://sta.sh/02885xrvehq3" target="_blank"> <img src="{{ asset('images/mal5.png') }}" class="rysunek img-fluid" alt="Akrylove"></a>

            <a href="https://sta.sh/076dhbiyx5e" target="_blank"> <img src="{{ asset('images/cyf1.png') }}" class="rysunek img-fluid" alt="Zbiory"></a>
            <a href="https://sta.sh/01b03yjaogin" target="_blank"> <img src="{{ asset('images/cyf2.png') }}" class="rysunek img-fluid" alt="Przyjaciółki"></a>
            <a href="https://sta.sh/01gy6fxl3ut2" target="_blank"> <img src="{{ asset('images/cyf3.png') }}" class="rysunek img-fluid" alt="Dowód"></a>
            <a href="https://sta.sh/0p8ej0aya3" target="_blank"> <img src="{{ asset('images/cyf4.png') }}" class="rysunek img-fluid" alt="Fioletowo mi"></a>
            <a href="https://sta.sh/015ubaywyqgt" target="_blank"> <img src="{{ asset('images/cyf5.png') }}" class="rysunek img-fluid" alt="Wodospad"></a>
            <a href="https://sta.sh/01rbq669bbxi" target="_blank"> <img src="{{ asset('images/cyf6.png') }}" class="rysunek img-fluid" alt="Cat Lady"></a>
        </center>


    </div>


{% endblock %}
